$colors: (
    'common': (
        'white': #ffffff,
        'white-2': #E4E6DC,
        'white-3': #F0F0F6,
        'black-solid': #000,
        'black': #020B18,
        'black-2': #0C1B05,
        'black-3': #252525,
        'black-4': #5B5B5C,
        'black-5': #171718,
        'black-6': #192553,
        'black-7': #121314,
        'black-8': #2E2E2E,
    ),
    'dark': (
        'white': #ffffff,
        'black-solid': #000,
        'black': #020B18,
        'black-2': #000F4A,
        'black-3': #162251,
        'black-4': #0F183E,
        'black-5': #213617,
    ),
    'yellow': (
        '1': #FFB342,
    ),
    'pink': (
        '1': #FD4B6B,
        '2': #FF5746,
        '3': #EB5939,
    ),
    'cream': (
        '1': #B7AB98,
        '2': #CFC292,
    ),
    'green': (
        'dark': #115061,
        '1': #31B757,
        '2': #BCE70C,
    ),
    'khaki': (
        '1': #AB9774,
    ),
    'coffe': (
        '1': #653624,
        '2': #552411,
    ),
    'blue': (
        '1': #0989FF,
        '2': #4C40F7,
    ),
    'orange': (
        '1': #FF6736,
    ),
    'heading': (
        'primary': #020B18,
        'secondary': #021D35,
    ),
    'headingDark': (
        'primary': #020B18,
        'secondary': #021D35,
    ),
    'grey': (
        '1':#F6F7F9,
        '2':#2F3862,
        '3':#F6F9FF,
        '4':#DDDDE7,
    ),
    'text': (
        'body':#55585B,
        '1':#767A7D,
    ),
    'theme': (
        'primary': #0989FF,
        'secondary': #1A2813,
    ),
    'footer': (
        'grey-1': #F4F7F9
    ),
    'border': (
        'primary': #EAEBED,
        'secondary': #F0F2F4,
    )
);

$white : #fff;
$black : #020B18;
$theme-primary : #0989FF;
$border-primary : #EAEBED;